# ---------------------------------------
# Some default styles for colorboxes 
# ---------------------------------------
snippet box "colorbox" b
\newtcolorbox{${1:Env-Name}}[1]{
	colback = red!5!white,
	colframe = red!75!black,
	fonttitle = \bfseries,
	title = #1
}
endsnippet
