# ====================
# Snippets for IT 
# ====================
snippet minted "minted environment" b
\begin{minted}[mathescape, linenos]{${1:language}}
	$0
\end{minted}
endsnippet

snippet mintinline "minted environment in a line" w
\mintinline{${1:Language}}{${2:Code}}$0
endsnippet
