snippet inc "#include <lib>" bAt
#include <${1:lib}>
endsnippet

snippet "#?ifd(d)?" "#ifdef" wbr
#ifdef $1
`!p
if match.group(1) != None:
	snip.rv = f'printf("DEBUG (START): ===== {t[1]} =====\\n");'
`
	$0
`!p
if match.group(1) != None:
	snip.rv = f'printf("DEBUG (END): ===== {t[1]} =====\\n");'
`
#endif /* $1 */
endsnippet

snippet ifn "#ifndef" wbA
#ifndef $1
#endif /* $1 */
endsnippet
