snippet cbb "Add a section with bigger highlighting"
;; =====`!p snip.rv = "=" * len(t[1])`
;; ${1:Section name}
;; =====`!p snip.rv = "=" * len(t[1])`
endsnippet

snippet cb "Add a separator for a new section"
;; -----`!p snip.rv = "-" * len(t[1])`
;; ${1:Section name}
;; -----`!p snip.rv = "-" * len(t[1])`
endsnippet
